version: '3.3'
services:
  web:
    build: .
    command: npm run dev
    depends_on:
      - db
    volumes:
      - .:/usr/app/
      - /usr/app/node_modules
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: mysql

  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - 3306:3306

  migration:
    image: web:latest
    command: ["./wait-for-it/wait-for-it.sh", "mysql:3306", "--", "npm", "run", "migrate"]
    links:
      - mysql
    depends_on:
      - mysql


# Names our volume
volumes:
  my-db: