version: '3.3'
services:
  web:
    build: .
    command: npm run dev
    depends_on:
      - db
    volumes:
      - .:/usr/app/
      - /usr/app/node_modules
    ports:
      - "5000:5000"
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: cst336-lab5

  db:
    image: mysql:5.7.32
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cst336-lab5
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - 3306:3306

  migration:
    build: .
    command: >
      bash -c "./wait-for-it/wait-for-it.sh db:3306 -- npm run migrate"
    depends_on:
      - db
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: cst336-lab5


# Names our volume
volumes:
  my-db: