<%- include('partials/header.ejs') %>

<form action="/search">
    <input id="keyword" type="text" name="keyword" placeholder="Type keyword">
    <button>Search</button>
    <a id="favLink" href="/getKeywords">See Favorites</a>
</form>
<hr>
<div id="resultsContainer">
    <% imageUrlArray.forEach(function(imageUrl, index) { %>
        <%- (index % 3 ==0) ? '<br>' : '' %>
        <img class="image" src="<%= imageUrl %>" alt="" width="200" height="200">
        <img class="favoriteIcon" src="img/favorite.png" alt="" width="20">
    <% }) %>
</div>

<%- include('partials/footer.ejs') %>