html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: rgba(0, 0, 0, 0.75);
    width: 50%;
    margin: 100px auto;
    border-radius: 25px;
    padding: 10px;
    font-size: 2.5em;
}

h1 {
    color: silver;
}

input, button {
    font-size: 1.3rem;
}

.image {
    border-radius: 20px;
}

.favoriteIcon {
    position: relative;
    right: 30px;
    bottom: 5px;
    background-color: rgba(255,255,255,.5);
    border-radius: 7.5px;
}

#resultsContainer, #favorites {
    background-color: rgba(250, 250, 250, 0.5);
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin: 0 auto;
}

#favorites {
    display: block;
}

#favLink, .link {
    background-color: rgba(250, 250, 250, 0.75);
    color: #CE4108;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 2.5px;
}

#favContainer {
    background-color: rgba(0, 0, 0, 0.75);
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 2rem;
}

.keywordLink {
    background-color: rgba(250, 250, 250, 0.75);
    color: #CE4108;
    font-size: 1.5em;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

footer > span {
    background-color: rgba(255,255,255,.5);
    padding: 5px;
    border-radius: 5px;
}